<div class="col-lg-12">
  <br/>
  <br/>
  <br/>
    <!-- <h3 class="h3">More About Us</h3> -->
    <h1 style="font:Lantinghei SC, Extralight; font-size: 40px; color: #3B95D8;text-align: left;">
        Contract Physician
    </h1>
          
<div class="container container-fluid">  
            <div class="row">
               <div class="col-md-8" style="background-color:rgb(217, 232, 241)" aria-colspan="container-fluid">
<!-- may need to change here as it is not fitting to the print preview-->                
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
<!-- <div class="form-row">
        <a class="collapsed" data-toggle="collapse" 
        data-parent="#accordion" href="#collapseOne" aria-expanded="false" 
        aria-controls="collapseOne"><i style="font-size:24px" class="fa">&#xf139;</i></a>
</div> -->
<!-- <div class="container container-fluid" style="margin-top:0px; background-color: #FFFFFF; align-self:unset;"> -->
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
            <h1 class="panel-title" style="font: 15px;font: Lantinghei TC, Extralight;"> 
                <a class="collapsed" data-toggle="collapse" 
              data-parent="#accordion" href="#collapseOne" aria-expanded="false" 
              aria-controls="collapseOne"> <i style="font-size:24px" class="fa">&#xf139;</i>
              DEMOGRAPHICS</a> </h1>
            </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body"> 
                <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="inputFname"><h5 style="font: 15px;font: ArialMT, Regular;">FIRST NAME**</h5></label>
                  <input type="email" class="form-control" id="inputFname" placeholder="">
                </div>
                <div class="form-group col-md-3">
                  <label for="inputMname"><h5 style="font: 15px;font: ArialMT, Regular;">MIDDLE NAME</h5></label>
                  <input type="text" class="form-control" id="inputMname" placeholder="">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputLName"><h5 style="font: 15px;font: ArialMT, Regular;">LAST NAME**</h5></label>
                  <input type="text" class="form-control" id="inputLname" placeholder="">
                </div>
                <div class="form-group col-md-2">
                  <label for="inputSuffix"><h5 style="font: 15px;font: ArialMT, Regular;">SUFFIX</h5></label>
                  <input type="text" class="form-control" id="inputSuff" placeholder="">
                </div>
              </div>
              <div class="form-row">
                 <div class="form-group col-md-4">
                     <label for="inputAlias"><h5 style="font: 15px;font: ArialMT, Regular;">ALIAS NAME</h5></label>
                     <input type="text" class="form-control" id="inputAlias" placeholder="">
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputdob"><h5 style="font: 15px;font: ArialMT, Regular;">DATE OF BIRTH**</h5></label>
                  <input type="date" class="form-control" id="inputdob">
                </div>
               
                <div class="form-group col-md-8">
                    <label for="inputgndr"><h5 style="font: 15px;font: ArialMT, Regular;">GENDER**</h5></label>
                 <div>
                  <button type="button" class="btn btn-default">Male</button>
                  <!-- <button type="button" class="btn btn-primary">Middle</button> -->
                  <button type="button" class="btn btn-default">Female</button>
               </div>
               </div>
              </div>
                <!-- <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div> -->
              <!-- </div> -->
              <!-- <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div> -->
             

        </div>
      </div>
    </div>
    

    <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
    <h1 class="panel-title" style="font: 15px;font: Lantinghei TC, Extralight;"> <a class="collapsed" data-toggle="collapse" 
      data-parent="#accordion" href="#collapseTwo" aria-expanded="false" 
      aria-controls="collapseTwo"> <i style="font-size:24px" class="fa">&#xf139;</i>
      LICENSING</a>
      </h1>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body"> 
            <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputNpinum"><h5 style="font: 15px;font: ArialMT, Regular;">NPI NUMBER**</h5></label>
              <input type="text" class="form-control" id="inputNpinum" placeholder="">
            </div>
        
    </div>
    <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputDegr"><h5 style="font: 15px;font: ArialMT, Regular;">DEGREE**</h5></label>
                    <!-- <input type="dropdown" class="form-control" id="inputDegr" placeholder=""> -->
                    <select size="1" class="form-control" id="inputphysDegree" item-width="180px" item-height="180px" item-render-buffer="150px" >
                        <option value="01a">MSMO</option>
                        <option value="01b">MDMO</option>
                        <option value="01c">MBBS</option>
                        <option value="01d">DGOM</option>
                        <option value="01e">MDOM</option>
                        <option value="01f">DSMS</option>
                        <option value="01g">MDMS</option>
                        <option value="01h">MSMS</option>
                        <option value="01i">MPMS</option>
                        <option value="01j">MSMS</option>
                        <option value="01k">MDDS</option>
                        <option value="01l">MDCH</option>
                        <option value="01m">MDMS</option>
                        <option value="01n">MSMS</option>
                        <option value="01o">MGMD</option>
                        <option value="01p">MDMG</option>
                        <option value="01q">MMMS</option>
                    </select>				
                     
            </div>

            <div class="form-group col-md-2">
            <label for="inputState"><h5 style="font: 15px;font: ArialMT, Regular;">STATE**</h5></label>
            <!-- <input type="dropdown" class="form-control" id="inputState" placeholder=""> -->
            <select size="1" class="form-control" id="inputState" item-width="180px" item-height="180px" item-render-buffer="150px" >
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>				
             </div>

            <div class="form-group col-md-2" item-width="180px">
              <label for="inputLnum"><h5 style="font: 15px;font: ArialMT, Regular;">LIC. NUMBER**</h5></label>
              <input type="number" class="form-control" id="inputLnum" placeholder="">
            </div>

            <div class="form-group col-md-3">
                <label for="inputDtef"><h5 style="font: 15px;font: ArialMT, Regular;">EFTV DATE**</h5></label>
                <input type="date" class="form-control" id="inputDtef" placeholder="">
              </div>
            
              <div class="form-group col-md-3">
                  <label for="inputDtex"><h5 style="font: 15px;font: ArialMT, Regular;">EXP DATE**</h5></label>
                  <input type="date" class="form-control" id="inputDtex" placeholder="">
                </div>
          </div>
     

           <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="inputSpl"><h5 style="font: 15px;font: ArialMT, Regular;">SPECIALITY**</h5></label>
                      <input type="text" class="form-control" id="inputSpl" placeholder="">
              </div>

              <div class="form-group col-md-4">
                  <label for="inputTxc"><h5 style="font: 15px;font: ArialMT, Regular;">TAXANOMY CODE**</h5></label>
                      <input type="text" class="form-control" id="inputTxc" placeholder="">
              </div>

              <div class="form-group col-md-2">
                  <label for="inputAgeres"><h5 style="font: 15px;font: ArialMT, Regular;">MIN AGE</h5></label>
                  <input type="number" class="form-control" id="inputAgeres" placeholder="min" style="font: 25px;font: ArialMT, Regular;">
                 
              </div>
               
              <div class="form-group col-md-2">
                <label for="inputAgeres"><h5 style="font: 15px;font: ArialMT, Regular;">MAX AGE</h5></label>
                <input type="number" class="form-control" id="inputAgeres" placeholder="max" style="font: 25px;font: ArialMT, Regular;">
            </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputDen"><h5 style="font: 15px;font: ArialMT, Regular;">DEA NUMBER</h5></label>
                        <input type="number" class="form-control" id="inputDen" placeholder="">
                </div>
            </div>
    </div>
    </div>
    </div>
    
    <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingThree">
    <h1 class="panel-title"> <a class="collapsed" data-toggle="collapse" 
      data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
      style="font: 15px;font: Lantinghei TC, Extralight;">
      <i style="font-size:24px" class="fa">&#xf139;</i>
      LOCATION(S)</a> </h1>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" 
    aria-labelledby="headingThree">
    <div class="panel-body">

    <!-- SPLIT TWO LOCATION RENDERING  -->

    <div class="container container-fluid">  
        <div class="row">
           <div class="col-md-2" style="background-color:rgb(217, 232, 241)" aria-colspan="container-fluid">
             <h4 style="font: 15px;font: ArialMT, Regular;">LOCATION TYPE</h4>
             <div class="form-row">
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-default" style="font-family: Arial, Helvetica, sans-serif;font-size: 25px;">Rendering</button>    
                </div>
            </div>
           </div>
           <div class="col-md-10 vertical" style="background-color: white" aria-colspan="container-fluid">
              <div class="form-row">
                  <div class="form-group col-md-2">
                      <label for="inputAddress"><h4 style="font-size: 15px">ADDRESS</h4></label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="">
                  </div>

                  <div class="form-group col-md-1">
                      <label for="inputSuite"><h4 style="font-size: 15px">SUITE</h4></label>
                          <input type="number" class="form-control" id="inputSuite" placeholder="">
                  </div>
              </div>

              <div class="form-row">
                  <div class="form-group col-md-2">
                      <label for="inputCity"><h4 style="font-size: 15px">CITY</h4></label>
                          <input type="text" class="form-control" id="inputCity" placeholder="">
                  </div>

                  <div class="form-group col-md-2">
                      <label for="inputSTate"><h4 style="font-size: 15px">STATE</h4></label>
                          <!-- <input type="dropdown" class="form-control" id="inputSTate" placeholder=""> -->
                          <select size="1" class="form-control" id="inputState" item-width="180px" item-height="180px" item-render-buffer="150px" >
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>				
                       
                  </div>


                  <div class="form-group col-md-2">
                        <label for="inputZip"><h4 style="font-size: 15px">ZIP</h4></label>
                            <input type="number" class="form-control" id="inputZip" placeholder="">
                    </div>
              </div>

              <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputPhon"><h4 style="font-size: 15px">PHONE</h4></label>
                            <input type="tel" class="form-control" id="inputPhon" placeholder="">
                    </div>
  
                    <div class="form-group col-md-2">
                        <label for="inputFax"><h4 style="font-size: 15px">FAX</h4></label>
                            <input type="tel" class="form-control" id="inputFax" placeholder="">
                    </div>
              <!-- </div>
              <div class="form-row"> -->
                    <div class="form-group col-md-2">
                        <label for="inputMail"><h4 style="font-size: 15px">EMAIL</h4></label>
                            <input type="text" class="form-control" id="inputMail" placeholder="">
                    </div>
              </div>
 <!-- <br/><br/> <br/><br/><br/><br/>            -->
              <!-- <div class="form-row">
                    <div class="form-group col-md-3">
                            <label for="inputMail">OFFICE HOURS</label>
                            <input type="dropdown" class="form-control" id="inputMail" placeholder="">
                   
                    </div>
                    <div class="form-group col-md-1">
                            <label for="inputMail">OPEN</label>
                            <input type="dropdown" class="form-control" id="inputMail" placeholder="">
                   
                    </div>
                    <div class="form-group col-md-1">
                            <label for="inputMail">CLOSE</label>
                            <input type="dropdown" class="form-control" id="inputMail" placeholder="">
                   
                    </div>

              </div> -->
           </div>
        </div> 
             
    </div>
    <div class="container container-fluid"> 
       <div class="row">
            <div class="col-md-2" style="background-color:rgb(217, 232, 241)" aria-colspan="container-fluid">
               <!-- <br/><br/><br/><br/><br/><br/><br/><br/><br/> <br/><br/><br/>             
                        <div class="form-row">
                                <div class="form-group col-md-3">
                                        <button type="button" class="btn btn-default btn-lg">
                                        <span class="glyphicon glyphicon-plus-sign"></span>New Location
                                        </button>
                                </div>
                        </div> 
              -->
             
            </div>     

            <br/><br/> <br/><br/><br/><br/>
            <div class="col-md-10 vertical" style="background-color: white" aria-colspan="container-fluid">
               <div class="form-row">
                   <div class="form-group col-md-2">
                       <label for="inputAddress"><h4 style="font-size: 15px">OFFICE HOURS</h4></label>
                           <!-- <input type="dropdown" class="form-control" id="inputAddress" placeholder="MONDAY" style="font:25px;font: ArialMT, Regular;"> -->
                           <select size="1" class="form-control" id="inputHours" item-width="180px" item-height="180px" item-render-buffer="150px" >
                            <option value="01su">Alabama</option>
                            <option value="02mo">Alaska</option>
                            <option value="03tu">Arizona</option>
                            <option value="04wd">Arkansas</option>
                            <option value="05th">California</option>
                            <option value="06fr">Colorado</option>
                            <option value="07sa">Colorado</option>
                    </select>
                        </div>

                   <div class="form-group col-md-2">
                        <label for="inputMail"><h4 style="font-size: 15px">OPEN</h4></label>
                        <!-- <input type="dropdown" class="form-control" id="inputMail" placeholder="8:00am" style="font:25px;font: ArialMT, Regular;"> -->
                        <select size="1" class="form-control" id="inputOpenHours" item-width="180px" item-height="180px" item-render-buffer="150px" >
                            <option value="8">8am</option>
                            <option value="9">9am</option>
                            <option value="10">10am</option>
                            <option value="11">11am</option>
                            <option value="12">12pm</option>
                            <option value="1">1pm</option>
                            <option value="2">2pm</option>
                            <option value="12">3pm</option>
                            <option value="1">4pm</option>
                            <!-- <option value="2">5pm</option> -->
                    </select>
                </div>
                <div class="form-group col-md-2">
                        <label for="inputMail"><h4 style="font-size: 15px">CLOSE</h4></label>
                        <!-- <input type="dropdown" class="form-control" id="inputMail" placeholder="5:00pm" style="font:25px;font: ArialMT, Regular;"> -->
                        <select size="1" class="form-control" id="inputCloseHours" item-width="180px" item-height="180px" item-render-buffer="150px" >
                            <!-- <option value="8">8am</option> -->
                            <option value="9">9am</option>
                            <option value="10">10am</option>
                            <option value="11">11am</option>
                            <option value="12">12pm</option>
                            <option value="1">1pm</option>
                            <option value="2">2pm</option>
                            <option value="12">3pm</option>
                            <option value="1">4pm</option>
                            <option value="2">5pm</option>
                    </select>
                </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                            <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                    </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-3">
                                <label for="inputPlang"><h4 style="font-size: 15px">PHYSICIAN LANGUAGES**</h4></label>
                                <!-- <input type="dropdown" class="form-control" id="inputPlang" placeholder="English" style="font:25px;font: ArialMT, Regular;"> -->
                                <select size="1" class="form-control" id="inputPhyLang" item-width="180px" item-height="180px" item-render-buffer="150px" >
                                    <!-- <option value="8">8am</option> -->
                                    <option value="E">ENGLISH</option>
                                    <option value="F">FRENCH</option>
                                    <option value="G">GERMAN</option>
                                    <option value="I">ITALIAN</option>
                                    <option value="C">CHINESE</option>
                                    <option value="J">JAPANESE</option>
                                    <option value="S">SPANISH</option>
                                    <option value="T">TELUGU</option>
                                    <option value="H">HINDI</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                                <label for="inputSlang"><h4 style="font-size: 15px">STAFF LANGUAGES**</h4></label>
                                <!-- <input type="dropdown" class="form-control" id="inputSlang" placeholder="English" style="font:25px;font: ArialMT, Regular;"> -->
                                <select size="1" class="form-control" id="inputStafLang" item-width="180px" item-height="180px" item-render-buffer="150px" >
                                    <!-- <option value="8">8am</option> -->
                                    <option value="E">ENGLISH</option>
                                    <option value="F">FRENCH</option>
                                    <option value="G">GERMAN</option>
                                    <option value="I">ITALIAN</option>
                                    <option value="C">CHINESE</option>
                                    <option value="J">JAPANESE</option>
                                    <option value="S">SPANISH</option>
                                    <option value="T">TELUGU</option>
                                    <option value="H">HINDI</option>
                            </select>
                        </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-3">
                                <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                </button>
                        </div>
                        <div class="form-group col-md-3">
                                <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                </button>
                        </div>
                    </div>
                    <br/><br/> <br/><br/><br/><br/>
                </div>
    </div>
</div>
<!-- break -->
<div class="container container-fluid"> 
        <div class="row">
             <div class="col-md-2" style="background-color:rgb(217, 232, 241)" aria-colspan="container-fluid"><br/><br/> <br/><br/><br/><br/>            
                    <br/><br/> <br/><br/><br/><br/><div class="form-row">
                                 <div class="form-group col-md-3">
                                         <button type="button" class="btn btn-default btn-lg">
                                         <span class="glyphicon glyphicon-plus-sign"></span>
                                         <h4 style="font-size: 20px">New Location</h4>
                                         </button>
                                 </div>
                         </div> 
             </div>

             <div class="col-md-10 vertical" style="background-color: white" aria-colspan="container-fluid"><br/><br/> <br/><br/>
                    <div class="form-row">
                            <div class="form-group col-md-3">
                            <label for="inputPanstat"><h4 style="font-size: 15px">PANEL STATUS**</h4></label>
                            </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-3">
                                    <button type="button" class="btn btn-default" style="font:25px;font: ArialMT, Regular;">OPEN</button>
                                    <!-- <button type="button" class="btn btn-primary">Middle</button> -->
                                    <button type="button" class="btn btn-default" style="font:25px;font: ArialMT, Regular;">CLOSE</button>
                            </div>
                        </div>    
                        <br/><br/>
                 <div class="form-row"> 
                     
                        <div class="form-group col-md-2">
                            <label for="inputProtype"><h4 style="font-size: 15px">
                                 PROVIDER TYPE</h4>
                            </label>
                                <input type="dropdown" class="form-control" id="inputProtype" placeholder="">
                        </div>
                  </div>
                </div>
             <div>	
         </div> 
              
     </div>	<!--comment1 -->	
    </div>
<!--break    -->

    <!-- SPLIT LOCATION RENDERING ENDS    -->
    </div>  	<!--comment2 -->
    </div>       <!--comment3 -->
    </div>       <!--comment4 -->
     
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title" style="font: 15px;font: Lantinghei TC, Extralight;"> <a class="collapsed" data-toggle="collapse" 
          data-parent="#accordion" href="#collapseFour" aria-expanded="false" 
          aria-controls="collapseFour"><i style="font-size:24px" class="fa">&#xf139;</i>
          PPG / IPA</a> </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body"> 
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputPpg"><h4 style="font-size: 15px">PPG</h4></label>
                        <input type="text" class="form-control" id="inputPpg" placeholder="">
                </div>
      
                <div class="form-group col-md-4">
                  <label for="inputTaxid"><h4 style="font-size: 15px">TAX ID</h4></label>
                      <input type="text" class="form-control" id="inputTaxid" placeholder="">
              </div>
            </div>
            <div class="form-row">
                        <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-plus-sign"></span> 
                            <h4 style="font-size: 15px">New PPG</h4>
                        </button>           
            </div>    
        </div>
        </div>
        </div>
    
        
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title" style="font: 15px;font: Lantinghei TC, Extralight;"> <a class="collapsed" data-toggle="collapse" 
              data-parent="#accordion" href="#collapseFive" aria-expanded="false" 
              aria-controls="collapseFive"><i style="font-size:24px" class="fa">&#xf139;</i>
               LOB  </a> </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">  

                <div class="form-row">
                    <label for="inputLobus" style="text-align: center">
                            <h4 style="font-size: 15px">LINE OF BUSINES (SELECT OPTIONS THAT APPLY)*</h4>
                      </label> 
                  <div class="form-group col-md-12">
                      
                      <div class="btn-group">
                        <button type="button" class="btn btn-default">CMC</button>
                        <button type="button" class="btn btn-default">HBEX</button>
                        <button type="button" class="btn btn-default">HTP</button>
                        <button type="button" class="btn btn-default">IHSS</button>
                        <button type="button" class="btn btn-default">MCLA</button>
                      </div>
                    </div>
                </div>
            </div>
            </div>
            </div>

            

            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title" style="font: 15px;font: Lantinghei TC, Extralight;"> <a class="collapsed" data-toggle="collapse"
                   data-parent="#accordion" href="#collapseSix" aria-expanded="false" 
                   aria-controls="collapseSix"><i style="font-size:24px" class="fa">&#xf139;</i>
                    HOSPITALS  </a> </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body"> 
                  
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCaphos"><h4 style="font-size: 15px">CAPITATED HOSPITALS</h4></label>
                                <input type="text" class="form-control" id="inputCaphos" placeholder="">
                        </div>
                      </div>
                      
                      <div class="form-row">
                          <div class="form-group col-md-4">
                              <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-plus-sign"></span> 
                            New Cap. Hospital
                        </button>  </div>
                        </div>   
                      
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputAffhos"><h4 style="font-size: 15px">AFFLIATED HOSPITAL</h4></label>
                                    <input type="text" class="form-control" id="inputAffhos" placeholder="">
                            </div>
                          </div>   
                        
                          <div class="form-row">
                              <div class="form-group col-md-4">
                                    <button type="button" class="btn btn-default btn-lg">
                                            <span class="glyphicon glyphicon-plus-sign"></span> New Affil. Hospital
                                    </button>                 
                               </div>
                           </div>   
                </div>
                </div>
                </div>
                    <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title" style="font: 15px;font: Lantinghei TC, Extralight;"> <a class="collapsed" data-toggle="collapse" 
                      data-parent="#accordion" href="#collapseSeven" aria-expanded="false" 
                      aria-controls="collapseSeven"> <i style="font-size:24px" class="fa">&#xf139;</i>
                      COMMENTS </a> </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body"> 
                      <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputBtAffhos"><h4 style="font-size: 15px">COMMENTS</h4></label>
                            <textarea rows="5"class="form-control" id="inputBtAffhos" 
                            placeholder="Please enter your comments here."></textarea>
                        </div>
                      </div>   
                     </div>
                    </div>
                    </div>  
  </div>
</div>
</div>

<!-- may need to change here as it is not fitting to the print preview-->                
</div>
</div>

